In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline 
# pd.__version__

In [2]:
print("Hello, World!")

Hello, World!

In [3]:
bl_1997 = pd.read_csv('datasets/1997business_licences.csv')
bl_1998 = pd.read_csv('datasets/1998business_licences.csv')
bl_1999 = pd.read_csv('datasets/1999business_licences.csv')
bl_2000 = pd.read_csv('datasets/2000business_licences.csv')
bl_2001 = pd.read_csv('datasets/2001business_licences.csv')
bl_2002 = pd.read_csv('datasets/2002business_licences.csv')
bl_2003 = pd.read_csv('datasets/2003business_licences.csv')
bl_2004 = pd.read_csv('datasets/2004business_licences.csv')
bl_2005 = pd.read_csv('datasets/2005business_licences.csv')
bl_2006 = pd.read_csv('datasets/2006business_licences.csv')
bl_2007 = pd.read_csv('datasets/2007business_licences.csv')
bl_2008 = pd.read_csv('datasets/2008business_licences.csv')
bl_2009 = pd.read_csv('datasets/2009business_licences.csv')
bl_2010 = pd.read_csv('datasets/2010business_licences.csv')
bl_2011 = pd.read_csv('datasets/2011business_licences.csv')
bl_2012 = pd.read_csv('datasets/2012business_licences.csv')
bl_2013 = pd.read_csv('datasets/2013business_licences.csv')
bl_2014 = pd.read_csv('datasets/2014business_licences.csv')
bl_2015 = pd.read_csv('datasets/business_licences.csv')
bl_all = pd.concat([bl_1997, bl_1998, bl_1999, bl_2000, bl_2001, bl_2002, bl_2003, bl_2004, bl_2005, bl_2006, bl_2007, bl_2008, bl_2009, bl_2010, bl_2011, bl_2012, bl_2013, bl_2014, bl_2015])
bl_all.describe()

/Users/jas/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,LicenceRSN,NumberOfEmployees,Latitude,Longitude,FeePaid
count,1142374.000000,1.142374e+06,711794.000000,711794.000000,955251.000000
mean,1044061.491336,1.058916e+04,49.263610,-123.112246,231.484358
std,666270.578106,8.001258e+06,0.022140,0.035197,696.573290
min,1.000000,0.000000e+00,49.200481,-123.222251,-940.400000
25%,459872.250000,0.000000e+00,49.252855,-123.131760,91.000000
50%,996862.500000,0.000000e+00,49.267838,-123.117834,115.000000
75%,1544069.750000,0.000000e+00,49.281916,-123.094442,159.000000
max,2618990.000000,6.047106e+09,49.298055,-123.023869,87228.330000

In [4]:
print bl_all.columns

Index([u'LicenceRSN', u'LicenceNumber', u'LicenceRevisionNumber',
       u'BusinessName', u'BusinessTradeName', u'Status', u'IssuedDate',
       u'ExpiredDate', u'BusinessType', u'BusinessSubType', u'Unit',
       u'UnitType', u'House', u'Street', u'City', u'Province', u'Country',
       u'PostalCode', u'LocalArea', u'NumberOfEmployees', u'Latitude',
       u'Longitude', u'FeePaid', u'ExtractDate'],
      dtype='object')

In [5]:
bl_all.to_csv('businesslicenses.csv')

In [ ]:
#will continue in R